.card{
  margin: auto;
  text-align: center;
}

p{

font-size: x-large;
font-style:italic;
font-family: 'Times New Roman', Times, serif;
color:black;
/* background-color: wheat; */
font-weight: bolder;
text-decoration: turquoise;
text-shadow: violet;
}